.entryForm {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.jobDetail {
    display: flex;
    flex-direction: column;
}

input {
    margin: 7px;
}

.entryColumn {
    display: flex;
    flex-direction: column;
}
.entryContainer {
    display: flex;
}

.cell {
    width: 300px;
    margin: 5px;
}
.smallCell {
    width: 50px;
    margin: 5px;
}

.tableRow {
    display: flex;
    width: 1000px;
}

button {
    margin: 2px;
}
.jobPage {
    display: flex;
}

.editForm {
    display: flex;
    flex-direction: column;
}

.datatitle:hover {
    color: blue;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    justify-content: column;
}

#entryButton {
    display: flex;
    flex-direction: column;
}